<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Sistema de Gestão de Pessoas</title>

<!--    <link rel="stylesheet"-->
<!--          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"-->
<!--          crossorigin="anonymous">-->

    <!--/*/ <th:block th:include="fragments/geral.html :: headerfiles">
            </th:block> /*/-->

</head>
<body>
<!--<header th:insert="fragments/geral.html :: header"></header>-->

<!--<div class="container my-2">-->
<!--    <a th:href="@{/rh/pessoas/nova}" class="btn btn-primary btn-sm mb-3">Incluir Pessoa</a>-->
    <h1>Pessoas</h1>
<!--&lt;!&ndash;    <table border="1" class="table table-striped table-responsive-md">&ndash;&gt;-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Nome</th>-->
<!--            <th>CPF</th>-->
<!--            <th>Data de Nacimento</th>-->
<!--            <th>Email</th>-->
<!--            <th>Telefone</th>-->
<!--&lt;!&ndash;            <th>Departamento</th>&ndash;&gt;-->
<!--&lt;!&ndash;            <th>Ações</th>&ndash;&gt;-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="pessoa : ${listaPessoas}">-->
<!--            <td th:text="${pessoa.nome}"></td>-->
<!--            <td th:text="${pessoa.dataNacimento}"></td>-->
<!--            <td th:text="${pessoa.cpf}"></td>-->
<!--            <td th:text="${pessoa.email}"></td>-->
<!--            <td th:text="${pessoa.telefone}"></td>-->
<!--&lt;!&ndash;            <td th:text="${pessoa.departamento}"></td>&ndash;&gt;-->
<!--            &lt;!&ndash;            <td>&ndash;&gt;-->
<!--            &lt;!&ndash;                <a th:href="@{/rh/pessoas/{id}(id=${pessoa.id})}" class="btn btn-primary">Alterar</a>&ndash;&gt;-->
<!--            &lt;!&ndash;                <a th:href="@{/rh/pessoas/excluir/{id}(id=${pessoa.id})}" class="btn btn-danger">Excluir</a>&ndash;&gt;-->
<!--            &lt;!&ndash;            </td>&ndash;&gt;-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    &lt;!&ndash;    <nav aria-label="...">&ndash;&gt;-->
<!--    &lt;!&ndash;        <ul class="pagination">&ndash;&gt;-->
<!--    &lt;!&ndash;            <li th:if="${listaPessoas.totalPages > 0}" th:each="numeroPagina : ${numerosPaginas}"&ndash;&gt;-->
<!--    &lt;!&ndash;                th:class="${numeroPagina==listaPessoas.number + 1} ? 'page-item active' : 'page-item'">&ndash;&gt;-->
<!--    &lt;!&ndash;                <a class="page-link" th:href="@{/rh/pessoas(size=${listaPessoas.size}, page=${numeroPagina})}"&ndash;&gt;-->
<!--    &lt;!&ndash;                   th:text=${numeroPagina}></a>&ndash;&gt;-->
<!--    &lt;!&ndash;            </li>&ndash;&gt;-->
<!--    &lt;!&ndash;        </ul>&ndash;&gt;-->
<!--    &lt;!&ndash;    </nav>&ndash;&gt;-->
<!--</div>-->
</body>
</html>